body {
    background-color: #4E7469;
    margin: 10%;
}
.great{
    margin-bottom: 10%;
}

.judul{
    color: rgb(255, 255, 255);
    font-size: medium;
    letter-spacing: 3px;
    line-height: 2;
}
a{
    color: black;
}
.story{
    border-top: 2px solid #fd8000;
}

.circle{
    padding-left: 5%;
}

.circleit{
    height: 40px;
    width: 40px;
    background-color: #e4b24e;
    margin-right: 3%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

.icon {
    position: absolute;
    top: 12px;
    left: 10.5px;
}

.iconyoutube {
    position: absolute;
    top: 12px;
    left: 9px;
}
.smcircle{
    padding-left: 15%;
    padding-bottom: 3%;
    display: inline-block;
}

.smcircleit{
    height: 5px;
    width: 5px;
    background-color: #000000;
    border-radius: 50%;
    display: block;
    margin-bottom: 1px;
}
.konten{
    background-color: #e4b24e;
    margin-top: 10%;
    height: 300px;
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 50px;
}

.konten p{
    font-style: italic;
    font-size: medium;
    letter-spacing: 3px;
    margin: 20%;
}